.main {
    grid-area: "content";
    background-color: $light-light;
}

.main-bar {
    background-color: transparent;

    .btn-sidebar-toggler {
        background-color: transparent;
        font-size: 1.5rem;
        padding: 0;
        color: $dark-light;
    }

    .breadcrumb {
        background-color: transparent;
        padding-top: $spacer / 2.5;
        padding-bottom: $spacer / 2.5;
        margin-bottom: 0;
    }
}

.section {
    margin-bottom: $spacer;

    .section-header {
        display: flex;
        align-items: center;
        padding: $spacer 0;

        .left-side {
            .title {
                font-size: 1.2rem;
                margin-bottom: 0;
                font-weight: 600;
                color: $dark-light;
            }
        }

        .right-side {
            margin-left: auto;
        }
    }

    .section-content {
        background-color: $white;
        padding: $spacer / 2 $spacer;
        border: 1px solid $light;
    }
}