.sidebar {
    display: none;
    grid-area: "sidebar";
    background-color: $light-light;
    max-height: 100vh;
    overflow-y: auto;

    .profile {
        padding: $spacer / 2 0 $spacer 0;
    }

    .sidebar-elements {
        background-color: $white;
        padding-left: $spacer;
        padding-right: $spacer;
        border-top: 5px solid $primary-dark;
        border-radius: $spacer / 1.5 $spacer / 1.5;
        box-shadow: 0 0 6px 2px rgb($dark, 0.125);

        .element {
            padding: $spacer / 2 0 $spacer 0;

            .title {
                font-weight: 600;
                font-size: 1.2rem;
                color: $dark-light;
                text-transform: uppercase;
            }
        }
    }
}